@import 'src/base.scss';

.app-header {
  @include bold-ft;

  background-color: #ffffff;
  border-bottom: 1px solid $border-grey;
  box-sizing: border-box;
  color: #c41e3a;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  width: $app-width;
}
