@import 'src/base.scss';

.tutorial-card {
  &__type {
    @include card-type-label;
  }

  &__tutorial-name {
    @include card-subtitle;
  }

  &__step-name {
    @include card-title;
  }

  &__step-detail {
    @include card-content;
  }

  &__progress {
    margin-top: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
  }
}

.tutorial-progress-dot--done,
.tutorial-progress-dot--undone {
  border: 1px solid $accent-red;
  border-radius: 50%;
  display: inline-block;
  height: 0.625rem;
  margin-right: 0.25rem;
  width: 0.625rem;
}

.tutorial-progress-dot--done {
  background-color: $accent-red;
}
