@import 'src/base.scss';

.info-card {
  &__type {
    @include card-type-label;
  }

  &__title {
    @include card-title;
  }

  &__content {
    @include card-content;
  }

  &__metadata-rows {
    margin-top: 1rem;
  }
}

.info-card-metadata-row {
  margin-top: 0.25rem;

  &__icon {
    color: $accent-red;
    display: inline-block;
    font-size: 0.875rem;
    height: 0.875rem;
    letter-spacing: 0.125rem;
    margin-right: 0.125rem;
    vertical-align: middle;
    width: 0.875rem;
  }

  &__label {
    @include regular-ft;

    color: $accent-red;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 0.875rem;
    max-width: $card-width-medium - 1rem;
    vertical-align: middle;
  }
}
